ISSSTECAM.Presupuesto.Web/Service References/RH.ServiciosWeb/ServicioEmpleados3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ISSSTECAM.RH.Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ISSSTECAM.RH.Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="vstEmpleadoDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="IdCosto" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IdEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="IdTipoEmpleado" type="xs:int" />
      <xs:element minOccurs="0" name="NombreCosto" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vstEmpleadoDTO" nillable="true" type="tns:vstEmpleadoDTO" />
</xs:schema>